# ==================================================== 
#   OPENAI CONFIGURATION
# ====================================================
API_KEY=your_api_key

# =====================================================
#   DATABASE CONFIGURATON
# =====================================================
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5433
DB_NAME=rag_dataase

# =====================================================
#   APPLICATION CONFIGURATION
# =====================================================

# JWT configuration
JWT_KEY=you_jwt_scret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRES_MINUTES=15
REFRESH_TOKEN_EXPIRES_DAYS=15